<launch>
  <include file="$(find avt_vimba_camera)/launch/mono_camera.launch">
    <arg name="ip" value="192.168.60.40" />
    <arg name="guid" value="50-0536971112" />
    <arg name="frame_id" value="" />
    <arg name="acquisition_mode" value="Continuous" />
    <arg name="acquisition_rate" value="60" />
    <arg name="exposure" value="8349" />
    <arg name="exposure_auto" value="" />
    <arg name="gain" value="20" />
    <arg name="gain_auto" value="Continuous" />
    <arg name="height" value="1540" />
    <arg name="width" value="2060" />
    <arg name="pixel_format" value="RGB8Packed" />
    <arg name="whitebalance_auto" value="Continuous" />
  </include>
</launch>
